/* Backend page */

body {
    font-family: 'Muli', sans-serif;
    background-color: #efefef;
}

nav {
    color: #fff;
    background-color: rgba(31, 152, 234, 0.82);
    width: 100%;
    height: 64px;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}

p.brand-logo.center a {
    color: #fff;
    font-size: 28px;
}

a.help {
    float: right;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 105, 148);
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease-out;
    display: inline-block;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0px 2rem;
    box-shadow: 2px 2px 2px #444;
    margin-top: 12px;
    font-size: 14px !important;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    line-height: 64px;
    width: 100%;
    text-align: center;
}

a:focus {
    text-decoration: none;
}

.basic-container {
    display: inline-block;
    width: 100%;
    padding: 35px 20px 20px 20px;
}

.dashboardpage .col-md-3 {
    padding: 0;
    margin: 0 5px;
    max-width: 257px;
}

a:hover {
    text-decoration: none;
}

.dashboardpage i {
    color: #313131;
}

.alert.show {
    padding: 10px;
    margin-bottom: 15px;
}

.alert-dismissable .close {
    right: 0px;
}


/* Basic App Help Page */

.card {
    position: relative;
    overflow: hidden;
    margin: 3.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.paginate_button {
    z-index: 1;
}


/* for the hint */

<style>.help-tip {
    position: relative;
    display: inline-block;
    /* top: 18px; 
    right: 18px; */
    left: 5px;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 14px;
    line-height: 15px;
    cursor: pointer;
}

.help-tip:before {
    content: 'i';
    font-weight: bold;
    color: #fff;
}

.help-tip:hover p {
    display: block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.help-tip p {
    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: auto;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    left: -16px;
    top: 19px;
}

.help-tip p:before {
    /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1E2021;
    left: 16px;
    top: -12px;
}

.help-tip p:after {
    /* Prevents the tooltip from being hidden */
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}


/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media only screen and (max-width: 1336px) {
    .help-tip p {
        width: 200px;
    }
}

</style>